/* reset css begins */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
/* reset css ends */

/*emerald:   009B77 	bright:		00af81	*/
/*black:	2c2c2c */

body, html{background: #fff; font-family: Helvetica, Verdana, Arial; font-weight: 400; font-size: 14px; color: #394240; text-align: justify;}
body a,html a{-webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -ms-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear;}
#whole_wrapper{position: relative; min-height: 100%;}
p a{color: #009B77; padding: 2px; border-radius: 3px; font-weight: 900;}
p a:hover{color: #00af81;}
a.logo{float: left; background: url('../images/logo.png') no-repeat; padding-left: 50px; display: inline-block; text-decoration: none; margin-top: 10px; letter-spacing: 1px; color: #fff; padding-top: 5px; padding-bottom: 5px; border: none !important;}
a.logo:hover, a.logo:focus{background-color: transparent !important; text-decoration: none;}

.main_menu, .main_menu ul li a{background-color: #2c2c2c; color: #fff; border-bottom: 5px solid #009B77;}
.main_container, .one_slide, .projects_container{display: block; width: 880px; height:100%; margin: 0 auto; clear: both; position: relative; z-index: 10; padding: 0 10px;}
.projects_container{width: 60% !important; margin:0 auto; padding-top: 20px;}
.main_container .box75{margin-top: -20px;}
.white .main_container .box75{margin-top: 0;}
.main_container.min_height{min-height: 400px !important;}
.main_container p{width:80%;}
.main_menu{display: block; width: 100%; padding: 10px auto; height: 44px; overflow: hidden; position: fixed; z-index: 1000; font-size: 12px;}

.main_menu ul{display: inline-block; height: 100%; width: 60%; float: right;}
.main_menu ul li{list-style: none; display: inline-block; height: 100%; min-width: 19%;}
.main_menu ul li a{text-decoration: none; border: none; text-transform: lowercase; display: inline-block; padding-top: 16px; width: 100%; text-align: center; padding-bottom: 16px;}
.main_menu ul li a:hover{background-color: #009B77;}

a.contact_button{background-color: #009B77; color: #fff;text-decoration: none;}
a.contact_button:hover{background-color: #00af81; color: #fff;}

.clear.mm{height: 25px;}
.clear.mm2{height: 50px;}
.clear.mmm{height: 100px;}
.clear{width: 100%; clear: both; display: block;}
.tag{position: absolute; margin-top: -30px;}
.photo_bg_box{background: #fff url('../images/main_bg.jpg') repeat-x bottom; min-height: 500px;}
.welcome_box{background: transparent; margin-top: 90px;}
.welcome_box h1{margin-bottom: 55px;}
.welcome_box.my_photo{background: #fff url('../images/photo.png') no-repeat 650px 25px;}
.box25, .box50, .box75{display: inline-table; vertical-align: top; width: 24%; margin: 0px; padding: 0px;}
.box50{width: 49%;}
.box75{width: 75%;}
img.photo2{position: absolute; margin-top: -330px; margin-left: 700px;}
.half.left, .half.right{display: inline-block; vertical-align: top; margin: 0; padding: 0; width: 45%; float: left; min-width: 260px;}
.half.right{float:right;}


h1, h2, h3{font-family: Arial Black, Helvetica, Verdana, Arial; font-size:3em; margin: 10px 0px; text-align: left; color: #2c2c2c;}
h1, h2, h3{font-weight: 900; line-height: 1.5em; text-transform: uppercase;}
h2, h3, .content h1{text-transform: uppercase; font-size: 1.5em;}
h3{margin: 30px 0px;}
.center{text-align: center !important;}
.content h1, .content h2, .content h3{margin: 30px 0px;}
p, .main_container.min_height.horizontal_paddings.big_p_spacing p{line-height: 1.75em;}
p.go_back{margin-top: 15px;}
strong{font-weight: 700;}
p a{text-decoration: none; font-weight: 400;}
p a:hover, p a:focus{text-decoration: underline;}
a.contact_button{display: block; width: 120px; padding: 15px 70px; text-shadow: none; text-align: center; border-radius: 40px; margin-top: 35px; font-weight: 700; letter-spacing: 1px;}
a.contact_button:hover, a.contact_button:focus{text-decoration: none;}
.bg_box{margin: 0px auto; display: block; clear: both; width: 100%; bottom: 0px; background-color: #fff; background: #f9f9f9; min-height: 250px; padding: 30px 0;}
.bg_box.white{background-color: #fdfdfd; padding: 40px 0;}
.top_border{border-top: 1px solid #aaa;}

.one_third{display: inline-block; width:300px; vertical-align: top;margin:0;padding:0; background: #E9EAE6;}
.one_third p{padding:10px;}
.one_third.left{float:left;}
.one_third.centered{margin:0 20px;}
.one_third.right{float: right;}
.one_third h3{background: #2C2C2C; color: #fff; padding: 5px; margin: 0;}

.bg_box.with_footer{margin-top: 0px; box-shadow: none; position: relative; z-index: 1; background: #2c2c2c; color: #fff; font-size: 12px; bottom: 0px; min-height: 250px;}
.footer{font-size: 1em; font-weight: 400; display: block; width: 100%; clear: both; padding-top: 20px; padding-bottom: 20px; bottom: 0px; top: auto;}
ul.footer_column{float: left; display: inline-block; list-style-type: none; width: 250px; vertical-align: top;}
ul.footer_column.right{float: right; width: 220px; text-align: right;}
ul.footer_column li{display: block; clear: both; width: 100%; line-height: 2em;}
li.footer_header{text-transform: uppercase; letter-spacing: 0.5px; color: #009B77;}
ul.footer_column li a{color: #fff; text-decoration: none; text-transform: lowercase;}
ul.footer_column.right a{text-transform: none;}
ul.footer_column li a:hover{text-decoration: underline; color: #00af81;}

.one_slide{width: 900px !important; margin-left: 250px; margin-right: 9999px;}
.slides_container {width:100%; height:330px; display: block; overflow: hidden; margin-top: 45px;}
.slides_container div {width:100%; height:300px; display: inline-block;}
.slide50{display: inline-block; width: 440px !important; vertical-align: top;}
.slide50 img{float: left; margin: 0px auto !important;}
ul.pagination{display: block; width: 120px; margin: 10px auto;}
ul.pagination li a{display: block; width: 100%; height: 100%;}
ul.pagination li{display: inline-block; width: 20px; height: 20px; background: url('../images/pag_empty.png') no-repeat; overflow: hidden; text-indent: -999px; margin: 0px 2px;}
ul.pagination li.current{background: url('../images/pag_full.png');}
.slides{padding-bottom: 10px;}

a#toTop, a#toTop:focus{position: fixed; float: right !important; display: block; width: 50px; height: 50px; border: none; background: url('../images/to_top.png') no-repeat; z-index: 99999; margin: 0px; background-position: 0px 0px; right: 0px;}
a#toTop:hover{background-position: 0px -50px;}

input{display: inline-block; padding: 15px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius: 5px; border: 1px solid #aaa;}
input[type="text"]{background: #fff;}
input[type="text"]:hover,input[type="text"]:focus{border-color:#333;cursor: pointer;}
input[type="submit"]:hover{cursor: pointer; border: 1px solid #333; background-color: #394240; color: #fff;}
input[type="submit"]{border-color: #aaa; color: #2c2c2c;}
.bottom_space{margin-top: 50px; padding-bottom: 70px;}
.horizontal_paddings{padding: 50px 0px !important;}
.horizontal_paddings.big_p_spacing p{line-height: 3em;}
.horizontal_paddings.content p{margin-bottom: 15px;}

.mail_icon{float: left; display: inline-block; width: 250px; height: 250px; background: url('../images/mail_icon.png') no-repeat; margin-top: -20px; margin-left: -20px;}
ul.contact_info{display: inline-block; list-style-type: none; margin-top: 50px; margin-left: 30px;}
ul.contact_info li{display: block; line-height: 2em;}
ul.contact_info li a{color: #009B77; text-decoration: none;}
ul.contact_info li a:hover{text-decoration: underline; color: #00af81;}

p.back_to_posts{margin: 50px 0px;}

.project_thumb{display: block; width: 300px !important; height: 300px !important; overflow: hidden; border: 1px solid #2c2c2c; margin-left: 50px;}
.project_thumb img{height: 100%;}

h2 a{font-family: Arial Black, Helvetica, Verdana, Arial; text-transform: uppercase; text-decoration: none; color: #009B77;}
h2 a:hover{color: #00af81; text-decoration: underline;}

.prev, .next{left: 100px; display: inline-block; position: absolute; z-index: 10; margin-top: -200px !important;background: url('../images/arrows.png') no-repeat;width: 50px; height: 50px;}
.next{left: auto; right: 100px;background-position: -50px 0px;}

.thumbnail{float: left; display: inline-block; width: 200px; height: 150px; overflow: hidden; margin: 0px; cursor: pointer; position: relative; z-index: 11; border: 5px solid transparent;}
.thumbnail img{float: none; height: 100%; position: absolute; z-index: 5;}
.thumbnail a, .thumbnail span.shadow{width: 190px; background-color: #009B77; margin-top: -35px; padding: 100px 5px; font-size: 14px; text-transform: uppercase; color: #fff; text-align: center; display: none; text-decoration: none; position: absolute; z-index: 10; line-height: 1em;}
.thumbnail span.shadow{ margin-top: -35px; background-color: #2c2c2c !important; color: #fff; opacity: 0.9;}

.ghosty{display: inline-block; clear: both; float: right; position: relative; width: 200px; height: 150px; margin: 5px 150px auto; background: url('../images/ghosty.png') no-repeat;}

.content_bg{background: url('../images/post_bg.png') no-repeat top left;}
.content ul{list-style-type: circle; padding-left: 20px; margin-bottom: 15px;}
.content ul li{line-height: 1.75em;}
.content pre, .content code{color: #009B77; font-family: monospace, Verdana, Arial;}
.content pre{background: #2C2C2C; padding: 5px; margin-bottom: 10px;}
.content em{font-style: italic;}
.content img{margin: 20px 5px 0px 5px;}


@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
  .main_menu{height:auto; position: relative;}
  .main_container{width:100%; padding:0;}
  a.logo, .main_menu ul{display:block; clear:both; margin: 20px auto; float: none; width: 100px;}
  .main_menu ul{width:100%; margin:0;}
  .main_menu ul li{display: block; width:100%; text-align:center;}
  .main_menu .main_container{padding:0;}
  .welcome_box{margin-top: 20px;}
  .half, .half.left, .half.right{float: none; width: 90%; margin: 5px; display: block; clear: both;}
  .main_container p{width: 97%; padding: 0 10px;}
  a.contact_button{margin: 15px auto 30px auto;}
  h3{text-align: center;}
  p, li{font-size: 1.5em; width: 98%; padding:0 5px;}
  img, .thumbnail{float: none; display: block; clear: both; margin: 0 auto;}
  .mail_icon{display: block; clear: both; margin: 20px auto; float: none;}
  .thumbnail a{display: block; z-index: 11;}
  ul.footer_column, ul.footer_column.right{display: block; margin:0 auto !important; float:none !important; text-align: center !important; width: 100%; padding-bottom: 20px;}
  ul.footer_column li{width: 100%;}
  ul.footer_column li a{display: block; width: 100%;}
  .footer{overflow: hidden;}
  .blog_article{text-align: center;}
  a#toTop{margin-top: -1200px;}
  .welcome_box h1{padding-top: 20px;}
}

@media only screen and (max-width: 920px), only screen and (max-device-width: 920px){
  ul.footer_column, ul.footer_column.right{width: 160px;}
  ul.footer_column{width: 160px;}
  ul.footer_column.first_column{width:90px;}
  .footer{overflow:hidden; width:100%;}
  .footer .main_container, .main_menu .main_container{overflow: hidden; width:90%; margin:0 auto;}
  a.logo{display:block; clear:both; margin: 20px auto; float: none; width: 100px;}
  .main_menu ul{float: none; margin: 10px auto 0px auto; display: block; clear: both; width: 100%;}
  .main_menu{height: auto; position: relative;}
  .main_container{width: 90%;}
  .photo_bg_box{margin-top: -50px;}
  a#toTop{margin-top: -250px;}
}

@media only screen and (max-width: 810px), only screen and (max-device-width: 810px){
  a.contact_button{margin: 20px auto 40px auto;}
  .main_container p{width:100%;}
  .half, .half.left, .half.right{float: none; width: 90%; margin: 5px; display: block; clear: both;}
}
























